<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- 引包 -->
    <script src="./js/vue.min.js"></script>
</head>

<body>
    <div id="app">
        <h1>非常常用的指令v-for</h1>
        <h1>循环语句遍历数字</h1>
        <h4 v-for="item in 2">我是四级标题{{item}}</h4>
        <h1>循环语句遍历数组</h1>
        <ul>
            <li v-for="(item, index) in arr">{{item}}---{{index}}</li>
        </ul>
        <h1>九九乘法表</h1>
        <table>
            <tr v-for="row in 9">
                <td v-for="col in 9" v-if="row >= col">{{col}} * {{row}} = {{row * col}} &nbsp;&nbsp;&nbsp;</td>
            </tr>
        </table>
    </div>
</body>

</html>
<script>
    var vue = new Vue({
        el: "#app",
        data: {
            arr: ["吃饭", "睡觉", "打豆豆"]
        }
    });
</script>